[Unit]
Description=Sync HAProxy certificates from S3
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sync-haproxy-certs.sh
SuccessExitStatus=2
